page-view{
    h2{
        margin-bottom: 20px !important;
    }
    ion-avatar, ion-thumbnail{
        img{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    ion-list{
        margin-bottom: 10px !important;
    }
}
